/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #4723D9;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  
  /*===== Font and typography =====*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: 'Nunito', sans-serif;
  font-size: var(--normal-font-size);
  transition: .5s;
}

a{
  text-decoration: none;
}

/*===== HEADER =====*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img{
  width: 40px;
}

/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__icon{
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: var(--white-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 800px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
}

.page-title{
    text-align: center;
}

.d-flex{
    display: flex !important;
}

.blog-cont{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lavender;
    position: relative;
    display: flex;
    padding-bottom: 0px !important;
    margin: 20px;
}

.blog-img-cont{
    height: 170px;
    height: 120px;
    margin-right: 30px;
}

.blog-img-cont>img{
    height: 100%;
    width: 100%;
}

.editBtn,.cancelBtn{
    padding: 10px 30px !important;
    background-color: #2090BD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 14px;
}

.moreBtn,.delBtn,.ch-btn-pass{
    background-color: crimson;
    padding: 10px 30px !important;
    border: none;
    border-radius: 5px;
    margin-right: 14px;
    cursor: pointer;
    color: whitesmoke;
}

.btns-cont{
    display: flex;
    position: absolute;
    right: 20px;
    top: 35%;
}

.dotsBtn{
    background-color: transparent;
    padding: 10px !important;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.dotsBtn:hover{
    background-color: lavender;
}

.linkss{
    position: relative;
    top: -15px;
}

input[type=text], textarea,input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 17px;
}

input[type=submit] {
  width: 100%;
  background-color: #3359de;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

input[type=submit]:hover {
  background-color: #3359de;
}

.form-cont {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin: auto;
}

.uploadbtn{
  padding: 10px 40px !important;
  background-color: #6b82d4;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  border: none;
  margin-bottom: 20px;
  margin-top: 20px;
  float: right;
}


@media screen and (max-width: 1000px) {

  .editBtn, .moreBtn{
      display: none !important;
  }

}

@media screen and (max-width: 700px){
  .blog-desc{
     display: block !important;
  }

  .blog-img-cont{
    margin-bottom: 30px;
  }

  .container-d{
    width: 70% !important;
  }
}

.container-d{
  position: absolute;
  left: 57%;
  top: 150px;
  transform: translate(-50%,-50%);
  width: 60%;
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  padding: 15px;
}
h1{
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Roboto',sans-serif;
}
p{
  font-family: 'Open-Sans',sans-serif;
}
.container-d #editor{
  height: 500px;
}

.post-blog{
  padding: 12px 30px !important;
  font-size: 18px;
  position: relative;
  top: 80px;
  background-color: #4723D9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.profile-page{
  width: 300px;
  height: 300px;
  margin: auto;
}

.profile-page>img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.user-name{
  text-align: center;
}

.btns-act-cont{
 text-align: center;
}

.user-name>button{
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: gray;
  border: none;
  cursor: pointer;
}

#edit-inp{
  width: 40%;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  display: none;
}

.conts-ed{
  top: 270px;
}

.deleteBlogModal{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.deleteCont{
  width: 30%;
  background-color: white;
  border-radius: 4px;
}

.modalheader{
  padding: 5px 20px 5px 20px;
   border-bottom: 1px solid silver;
}

.modalbody{
  padding: 5px 20px 5px 20px;
  border-bottom: 1px solid silver;
}

.modalfooter{
  padding: 5px 20px 5px 20px;
}

.cancelNow{
  padding: 10px 30px !important;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 14px;
  border: 1px solid gray;
}

.alert{
  background-color: #5CB811;
  color: whitesmoke;
  padding: 7px 20px 7px 20px;
  border-radius: 4px;
  position: absolute;
  top: 100px;
  right: 150px;
  animation-name: mover;
  animation-duration: 0.5s;
  display: none;
  z-index: 300;
}

@keyframes mover{
  from {
    right: -100px;
  }
  to {
    right: 150px;
  }
}

.form-c-cont-b{
  width: 50% !important;
  margin: 30px auto;
}

.upload{
  padding: 10px 30px;
  background-color: gray;
  color: #ffff;
  border: none;
  border-radius: 4px;
  font-size: 17px;
}

.up-b{
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-blo{
  margin-top: 30px;
  margin-bottom: 30px;
  display: none;
}

.img-blo>img{
  border-radius: 4px !important;
}

.delAlert{
  position: fixed;
}


.editor-cont{
  width: 100%;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: white;
  margin: 10px auto;
}

.editor{
  min-height: 300px;
  max-height: 700ppx !important;
  outline: none;
  font-size: 20px;
  padding: 10px;
  overflow: auto;
}
.navbars{
  width: 100%;
  background-color: whitesmoke;
  height: 45px;
  display: flex;
  align-items: center;
}

.codeBtn{
  padding: 5px;
  font-size: 18px;
  background-color: whitesmoke;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
}

.saveBtn{
  background-color: rgb(27, 216, 27);
  display: none;
}

.change-pass{
  color: dodgerblue;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 40px;
  user-select: none;
}

.change-pass:hover{
  color: #4723D9;
}

.ch-btn-pass{
  background-color: rgb(27, 216, 27);
}

.alert22{
position: fixed;
}

.r-c-cont{
  margin-left: -170px;
}

.messages-cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px){
  .messages-cont{
    display: block;
  }
  .card-msg-cont {
    width: 100% !important;
  }
}

@media screen and (min-width: 601px){
  @media screen and (max-width: 1000px){
    .card-msg-cont {
      width: 46% !important;
    }
  }
}

.card-msg-cont {
  width: 30%;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  padding: 20px;
  border-radius: 10px;
  height:  350px;
  overflow: auto;
  margin-bottom: 20px;
  padding-bottom: 5px !important;
}

.replyBtn{
  padding: 10px 30px;
  border-radius: 50px;
  background: #1f75c4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin: 50px auto;
}